/* Define o fundo do corpo com uma sobreposição de gradiente e uma imagem */

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.534), rgba(248, 248, 248, 0.393)), url(imgs/FundoHome.jpg);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding-top: 0;
  color: #ffffff; /* Cor do texto */
  text-shadow: 1px 1px 2px rgb(0, 0, 0); /* Adiciona sombra ao texto */
}

/* Adicione essa regra para garantir que o texto nos parágrafos seja branco */
p {
  color: #ffffff;
}


/* Remove a margem padrão de hr */
hr {
  margin: 0;
}

/* Estilo para o ícone no cabeçalho */
header h6 i {
  float: left;
  font-size: 24px;
  margin: 0 10px 5px 0; /* Margens compactadas em uma única linha */
}

/* Estilo para o texto no cabeçalho */
header h6 span {
  overflow: hidden;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 18px;
}

/* Estilo para imagens de placeholder com gradiente de cores */
.bd-placeholder-img {
  background: linear-gradient(to right, #7700ff, #edfaff);
}

/* Estilo para o cabeçalho fixo no topo */
#default2.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000; /* Cor de fundo quando fixo no topo */
}

/* Estilo para o logotipo pequeno */
#logo-small img {
  max-height: 40px;
}

/* Esconde o logotipo pequeno por padrão */
#logo-small {
  display: none;
}

/* Estilo para logotipo com largura máxima de 100% */
img.logo {
  max-width: 100%;
}

/* Adiciona sombra e borda a todas as imagens */
img {
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  border: 1px solid #000000;
  padding: 10px; /* Espaçamento ao redor da imagem */
}

/* Adiciona borda e espaçamento aos elementos destacados 
h2, p, a {
  border: 1px solid #000000;
  padding: 10px;
}*/




/* Estilização do Card para adquirir o plano WorldPlus */
.cards-container {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 260px;
  padding: 20px 1px;
  margin: 10px 0;
  text-align: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),0 4px 6px -4px rgba(33,150,243,.4);
  border-radius: 10px;
  background-color: #6B6ECC;
  background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
}

.content {
  padding: 20px;
}

.content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.content .price {
  color: white;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}

.content .description {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  font-size: 14px;
}

.content .title {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.64);
  margin-top: 10px;
  font-size: 25px;
  letter-spacing: 1px;
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(33 150 243);
  border-radius: 0.5rem;
  width: 90%;
  text-shadow: 0px 4px 18px #2c3442;
}

/* estilização do botão pagamento */
.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 156, 3);
  border: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: rgb(0, 0, 0);
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}