body{
  background-image: url('imgs/ProdutosFundo.jpg'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho real da sua imagem */
  background-size: cover; /* Garante que a imagem cubra todo o fundo */
  background-position: center; /* Centraliza a imagem no fundo */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
}

/* Estilo para a barra de navegação */
.navbar {
  background-color: #FFD700;
  /* Amarelo dourado */
  color: #333;
  /* Cor do texto */
  padding: 10px;
  /* Espaçamento interno */
}

.navbar a {
  color: #333;
  /* Cor dos links na barra de navegação */
  text-decoration: none;
  /* Remove o sublinhado dos links */
}

.navbar a:hover {
  color: rgb(38, 123, 235);
  /* Cor dos links quando o mouse passa por cima */
}

/* Estilo para o conteúdo principal */
.offcanvas-body {
  background-color: #FFF;
  /* Fundo branco para o conteúdo */
  padding: 50px;
  /* Espaçamento interno */
  border-radius: 5px;
  /* Cantos arredondados */
}

/* Estilo para links no conteúdo principal */
.offcanvas-body a {
  color: #007BFF;
  /* Cor dos links no conteúdo */
  text-decoration: none;
  /* Remove o sublinhado dos links */
}

.offcanvas-body a:hover {
  color: #0056b3;
  /* Cor dos links quando o mouse passa por cima no conteúdo */
}
.row {
  display: flex;
  justify-content: center;
}

.card {
  width: 200px;
  height: 200px;
  background-color: #f2f2f2;
  margin: 50px;
}

/* Estilização do Card para adquirir o plano WorldPlus */
.cards-container {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 260px;
  padding: 20px 1px;
  margin: 10px 0;
  text-align: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),0 4px 6px -4px rgba(33,150,243,.4);
  border-radius: 10px;
  background-color: #6B6ECC;
  background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
}

.content {
  padding: 20px;
}

.content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.content .price {
  color: white;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}

.content .description {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  font-size: 14px;
}

.content .title {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.64);
  margin-top: 10px;
  font-size: 25px;
  letter-spacing: 1px;
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(33 150 243);
  border-radius: 0.5rem;
  width: 90%;
  text-shadow: 0px 4px 18px #2c3442;
}

/* estilização do botão pagamento */
.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 156, 3);
  border: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: rgb(0, 0, 0);
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}