/* Estilo para a barra de navegação */

body{
  background-image: url('WorldPlusFundo.webp'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho real da sua imagem */
  background-size: cover; /* Garante que a imagem cubra todo o fundo */
  background-position: center; /* Centraliza a imagem no fundo */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
}


.navbar {
    background-color: #000000;
    /* Amarelo dourado */
    color: #333;
    /* Cor do texto */
    padding: 10px;
    /* Espaçamento interno */
  }
  
  .navbar a {
    color: #333;
    /* Cor dos links na barra de navegação */
    text-decoration: none;
    /* Remove o sublinhado dos links */
  }
  
  .navbar a:hover {
    color: rgb(38, 123, 235);
    /* Cor dos links quando o mouse passa por cima */
  }
  
  /* Estilo para o conteúdo principal */
  .offcanvas-body {
    background-color: #FFF;
    /* Fundo branco para o conteúdo */
    padding: 50px;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Cantos arredondados */
  }
  
  /* Estilo para links no conteúdo principal */
  .offcanvas-body a {
    color: #007BFF;
    /* Cor dos links no conteúdo */
    text-decoration: none;
    /* Remove o sublinhado dos links */
  }
  
  .offcanvas-body a:hover {
    color: #0056b3;
    /* Cor dos links quando o mouse passa por cima no conteúdo */
  }

 /* Estilização para o Registro do PET */
 .card {
  width: 350px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
}

.card-header {
  background-color: #000000;
  padding: 16px;
  text-align: center;
}

.card-header .text-header {
  margin: 0;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.card-body {
  padding: 16px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 1px;
}

.form-group input[type="text"],
.form-group input[type="text"], 
.form-group input[type="text"], 
.form-group input[type="raça"],
.form-group input[type="porte"]{
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.btn {
  padding: 12px 24px;
  margin-left: 13px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #000000;
  color: #000000;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer
}

.btn:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}   

/* Estilização do botão */
.btn1 {
  width: 7.5em;
  height: 2.3em;
  margin: 0.5em;
  background: rgb(8, 233, 218);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
 }
 
 button:hover {
  color: rgb(255, 255, 255);
 }
 
 button:after {
  content: "";
  background: rgb(238, 207, 9);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 }
 
 button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }

/* Estilização para o Card */
/*.a {
  display: flex;
  flex-direction: column; 
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: 8rem;
  background: #000000;
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #ffd52e, #ffd23d, #ffd761);
  --color: #32a6ff
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #000000;
  z-index: 2
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: rgb(255, 255, 255);
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
} 

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, rgb(222, 6, 6), transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}*/

/* Estilização do Card b 
.b {
  display: flex;
  flex-direction: column; 
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: 8rem;
  background: #000000;
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #ffd52e, #ffd23d, #ffd761);
  --color: #32a6ff
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #000000;
  z-index: 2
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: rgb(255, 255, 255);
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
} 

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, rgb(222, 6, 6), transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}*/